<div class="container">
  <h1>{{ title }}</h1>
  <form>
    <div class="form-group">
      <h1 class="text-center text-primary">Todo App</h1>
      <div class="input-group-prepend">
        <input type="text" #todo class="form-control" placeholder="Add Todo" name="todo" ngModel>
        <!-- <input type="text" class="form-control" placeholder="Add Todo" name="todo">     -->
        <span class="input-group-text" (click)="addTodo(todo.value)">Add</span>
      </div>
      <p>{{todo.value}}</p>
    </div>
  </form>
  <div class="data">  <ul class="list-instyled">   <li *ngFor="let todo of todoArray">{{todo}}</li>  </ul>  </div>
</div>
